# The mqtt topic prefix - usually it is "frigate" unless you change it in your system
mqtt_frigate_topic_prefix: "frigate"
# The host and port where Frigate's mqtt broker can be found
mqtt_host: "127.0.0.1"
mqtt_port: 1883
# Low level keep-alive connection for frigate (in seconds)
mqtt_keep_alive_seconds: 5
# If mqtt has a username and password, input them here
mqtt_username:
mqtt_password:
# When connecting to mqtt broker, this is the string that is used to self-identify
mqtt_client_id: sam-frigate-video-sync

# Currently you can use local destinations and sftp destinations
# You can add as many as you like. They will all be synced
upload_destinations:
  # Local destinations look like this
  - local:path=/home/username/SomeDirectory/video-sync
  # Sftp destinations look as follow
  # Notice that authentication can only be done with an identity private key file
  - sftp:username=user;host=example.com;remote-path=/dir/to/upload/to/;identity=/home/user/key.pem

# The API address of Frigate. This is used to retrieve extra data, like video clips
frigate_api_address: "http://127.0.0.1:5000"

# How long to wait after Frigate startup to start uploads.
# In other words: If Frigate restarts, uploads will only happen after the given period has passed.
# This might be useful in case Frigate takes time after startup to register the desired snapshot/recordings state.
# The number is in seconds and is integer.
delay_after_startup: 120
